<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-content">
                <ul class="footer-menu">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="optical.html">系列鏡框</a></li>
                    <li><a href="store.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="problem.html">常見問題</a></li>
                </ul>
                <div class="footer-tel">
                    <span class="material-symbols-outlined">
                        call
                    </span>

                    <a href="tel:+886-800000000">0800-000-000</a>
                </div>
                <div class="footer-mail">
                    <span class="material-symbols-outlined">
                        mail
                    </span>

                    <a href="mailto:glasses@business.com"
                        >glasses@business.com</a
                    >
                </div>
            </div>
            <div class="footer-social">
                <a href="#">
                    <img src="../assets/images/ic-social-fb.png" alt="fb" />
                </a>
                <a href="#">
                    <img src="../assets/images/ic_social_ig.png" alt="ig" />
                </a>
                <a href="#">
                    <img src="../assets/images/ic_social_line.png" alt="line" />
                </a>
            </div>
        </div>
        <div class="footer-privacy">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li>
                    <a href="#">隱私權政策</a>
                </li>
                <li>
                    <a href="#">服務條款</a>
                </li>
            </ul>
        </div>
    </div>
</footer>