<ul class="more-pagination">
    <li>
        <a href="#">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            <span> 上一篇：街頭潮人訪問 1 </span></a
        >
    </li>

    <li>
        <a href="#">
            <span> 下一篇：街頭潮人訪問 2 </span>
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </a>
    </li>
</ul>