<div class="set">
    <ul class="d-flex">
        <li><a href="optical.html">OPTICAL</a></li>
        <li><a href="sunglasses.html">SUNGLASSES</a></li>
        <li><a href="#">FUNCTIONAL</a></li>
    </ul>
</div>