<ul class="more-share">
    <li>Share</li>
    <li>
        <a href="#"
            ><img src="../assets/images/logo-facebook.png" alt="fb"
        /></a>
    </li>
    <li>
        <a href="#"
            ><img
                src="../assets/images/logo-instagram.png"
                alt="ig"
        /></a>
    </li>
</ul>