/* footer */
.footer {
  background-color: $text-color;
  color: #fff;
  padding: 48px 0px 32px;
  @include sm{
    padding: 24px 0px;

  }
  &-menu{
    display: flex;
    gap: 48px;
    margin-bottom: 35px;
    @include sm{
      display: none;
    }
    a{
      padding: 16px 0;
      &:hover{
        font-weight: bold;
      }
    }
  }
  &-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    @include sm{
      margin-bottom: 20px;
    }
  }
  &-social{
    display: flex;
    gap: 32px;
    @include sm{
      gap: 8px;

    }
    a{
      width: 48px;
      height: 48px;
      @include sm{
        width: 24px;
        height: 24px;
      }
    }
  }
  &-privacy{
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    @include sm{
      flex-direction: column;
      padding-top: 20px;
    }
    ul{
      font-size: 14px;
      display: flex;
      gap: 48px;
      @include sm{
        flex-direction: column;
        gap: 8px;
      }
    }
    p{
      @include sm{
        margin-bottom: 8px;
      }
    }
  }
  &-tel{
    font-size: 36px;
    display: flex;
    align-items: center;
  margin-bottom: 8px;
    @include sm{
      font-size: 16px;

    }
    span{
      font-size: 36px;
      margin-right: 22px;
      @include sm{
        font-size: 24px;

      }
    }
  }
  &-mail{
    font-size: 36px;
    display: flex;
    align-items: center;
    @include sm{
      font-size: 16px;

    }
    span{
      font-size: 36px;
      margin-right: 22px;
      @include sm{
        font-size: 24px;
      }
    }
  }
}