.inside-card {
    img {
        object-fit: cover;
    }
    li:first-child {
        @include md {
            display: flex;
            gap: 24px;
            margin-bottom: 24px;
        }@include xs{
            flex-direction: column;
            gap: 0;
        }
    }
    :nth-child(2) {
        img {
            height: 100%;
        }
    }
}
.card-content {
    border: 1px solid #00000020;
}
