.problem {
    margin: 96px auto 80px;
    color: #000;
    @include md{
        padding: 0px 36px;
    }
    @include xs{
        padding: 0px 14px;
    }
    h1 {
        border-left: 8px solid #9f1213;
        padding-left: 16px;
        font-size: 48px;
        font-weight: bold;
        @include xs {
            font-size: 24px;
        }
    }
    h2 {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 24px;
        font-weight: bold;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 32px;
    }
}
